.newsales
{   border-radius: 19px;
    margin-left:10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(225, 230, 234);
    color: black;
    height: 650px;
    width: 80%;
    

}
.newsales h3{
    text-align: center;
} 
.salesForm
{
    display: felx;
    padding-left: 150px;
    font-size: 16px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 40px;

}
.salesForm input{
    position: relative;
    top: -27px;
    margin-left: 200px;
    margin-right: -120px;
    border-radius: 4px;
    border: none;
}
form{
    margin-top: 20px;
}
.invoiceNo {
    display: block;
    position: relative; 
    top: -50px; 
    margin-left: 200px; 
    width: 50%; 
    border-radius: 4px;
    border: none;
    width: 222px;
}
.btnSection{
    justify-content: center;
    align-items: center;
    gap: 96px;
    width: 80%;
    display: flex;
    margin-left: 12%;
    margin-top: 40px;
    justify-content:space-evenly ;
}
.btn {
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 6px;
    background-color: #4cbccb;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3ba9a6;
}
.selectOption {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -35px;
    width: 225px;
    border-radius: 4px;
    border: none;
    height: 28px;
    margin-left: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem; 
}